.list {
  width: 100%;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: -20px;
  min-height: 450px;
  list-style: none;
}

.item {
  max-width: 200px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.item:hover {
  transform: scale(1.03);
  cursor: zoom-in;
  box-shadow: 0px 0px 10px 5px grey;
  border-radius: 8px;
}

.photo {
  height: 300px;
  width: 200px;
  margin-right: 10px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.character {
  font-style: italic;
  font-size: 17px;
}
