.list {
  margin-bottom: 20px;
}

.item {
  padding: 20px;
  font-weight: 300;
  border-radius: 5px;
  list-style: none;
  /* background-color: #fae7f4; */
}
item:not(:last-child) {
  margin-bottom: 20px;
}
.authorName {
  font-weight: bold;
}

.content {
  text-align: left;
}
